### OS-specific
.DS_Store

### Editors
*~
\#*\#
**/.vscode
.$*

### Byte-compiled files
__pycache__
*.pyc

### Snakemake
.snakemake/
gurobi.log

### Notebooks
.ipynb_checkpoints

# Show mutable folders, but do not commit resulting files
resources/
!resources/user/.gitkeep
!resources/automatic/.gitkeep
results/
!results/.gitkeep
