### OS-specific
.DS_Store

### Editors
*~
\#*\#
**/.vscode
.$*

### Byte-compiled files
__pycache__
*.pyc

### Snakemake
.snakemake/
gurobi.log

### Notebooks and testing
.ipynb_checkpoints
tmp/
temp/

# Show mutable folders, but do not commit resulting files
**/logs/*
**/resources/*
**/results/*
!resources/.gitkeep
!tests/integration/resources/**
!results/.gitkeep
