### OS-specific
.DS_Store

### Editors
*~
\#*\#
**/.vscode
.$*

### Byte-compiled files
__pycache__
*.pyc

### Snakemake
.snakemake/
gurobi.log

### Notebooks
.ipynb_checkpoints

# Show mutable folders, but do not commit resulting files
**/logs/*
**/resources/*
**/results/*
!tests/integration/resources/automatic
!tests/integration/resources/user
